Jinja2>=2.10.1
Unidecode>=0.4.21
Pillow>=7

# The following is to provide backwards compatabilty for python versions
# previous to v3.10
# The importlib.metatdata is used to discover PlasTeX plugins.
importlib_metadata>=4.0.0 ; python_version < "3.10"
